{
  "plugins": [
    "@babel/transform-runtime",
    "@babel/transform-react-jsx-source"
  ],
  "presets": [
    "@babel/env",
    "@babel/react"
  ],
  "env": {
    "test": {
      "plugins": [ "istanbul" ]
    }
  }
}
