{
  "plugins": [
    "transform-runtime",
    "transform-react-jsx-source"
  ],
  "presets": [
    "env",
    "react",
    "stage-3"
  ],
  "env": {
    "test": {
      "plugins": [ "istanbul" ]
    }
  }
}
